<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>com.apple.Safari</string>
	<string>com.apple.frontrowlauncher</string>
	<string>com.vmware.fusion</string>
	<string>com.parallels.desktop.console</string>
</array>
</plist>
