<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.algoriddim.djay3</key>
	<dict>
		<key>audioDevice</key>
		<string>djayMasterDevice</string>
	</dict>
	<key>com.apple.FaceTime</key>
	<dict>
		<key>captureInputs</key>
		<true/>
		<key>captureOutputs</key>
		<true/>
		<key>mutingMode</key>
		<string>none</string>
		<key>voip</key>
		<true/>
	</dict>
	<key>com.apple.iChat</key>
	<dict>
		<key>captureInputs</key>
		<true/>
		<key>captureOutputs</key>
		<true/>
		<key>mutingMode</key>
		<string>none</string>
		<key>voip</key>
		<true/>
	</dict>
	<key>com.citrixonline.GoToMeeting</key>
	<dict>
		<key>captureInputs</key>
		<true/>
		<key>captureOutputs</key>
		<true/>
		<key>mutingMode</key>
		<string>none</string>
		<key>voip</key>
		<true/>
	</dict>
	<key>com.CounterPath.Bria-3</key>
	<dict>
		<key>captureInputs</key>
		<true/>
		<key>captureOutputs</key>
		<true/>
		<key>mutingMode</key>
		<string>none</string>
		<key>voip</key>
		<true/>
	</dict>
	<key>com.CounterPath.Bria_3</key>
	<dict>
		<key>captureInputs</key>
		<true/>
		<key>captureOutputs</key>
		<true/>
		<key>mutingMode</key>
		<string>none</string>
		<key>voip</key>
		<true/>
	</dict>
	<key>com.counterpath.X_Lite_4</key>
	<dict>
		<key>captureInputs</key>
		<true/>
		<key>captureOutputs</key>
		<true/>
		<key>mutingMode</key>
		<string>none</string>
		<key>voip</key>
		<true/>
	</dict>
	<key>com.google.GoogleTalkPluginD</key>
	<dict>
		<key>captureInputs</key>
		<true/>
		<key>captureOutputs</key>
		<true/>
		<key>mutingMode</key>
		<string>none</string>
		<key>voip</key>
		<true/>
	</dict>
	<key>com.microsoft.Lync</key>
	<dict>
		<key>captureInputs</key>
		<true/>
		<key>captureOutputs</key>
		<true/>
		<key>mutingMode</key>
		<string>none</string>
		<key>voip</key>
		<true/>
	</dict>
	<key>com.sipphone.GizmoProject</key>
	<dict>
		<key>captureInputs</key>
		<true/>
		<key>captureOutputs</key>
		<true/>
		<key>mutingMode</key>
		<string>none</string>
		<key>voip</key>
		<true/>
	</dict>
	<key>com.skype.skype</key>
	<dict>
		<key>captureInputs</key>
		<true/>
		<key>captureOutputs</key>
		<true/>
		<key>mutingMode</key>
		<string>none</string>
		<key>voip</key>
		<true/>
	</dict>
	<key>com.talk4free.magicJack</key>
	<dict>
		<key>captureInputs</key>
		<true/>
		<key>captureOutputs</key>
		<true/>
		<key>mutingMode</key>
		<string>none</string>
		<key>voip</key>
		<true/>
	</dict>
	<key>com.tlphn.Telephone</key>
	<dict>
		<key>captureInputs</key>
		<true/>
		<key>captureOutputs</key>
		<true/>
		<key>mutingMode</key>
		<string>none</string>
		<key>voip</key>
		<true/>
	</dict>
	<key>com.toktumi.toktumi</key>
	<dict>
		<key>captureInputs</key>
		<true/>
		<key>captureOutputs</key>
		<true/>
		<key>mutingMode</key>
		<string>none</string>
		<key>voip</key>
		<true/>
	</dict>
	<key>com.vailsys.mac.Whistle</key>
	<dict>
		<key>captureInputs</key>
		<true/>
		<key>captureOutputs</key>
		<true/>
		<key>mutingMode</key>
		<string>none</string>
		<key>voip</key>
		<true/>
	</dict>
	<key>com.viber.osx</key>
	<dict>
		<key>captureInputs</key>
		<true/>
		<key>captureOutputs</key>
		<true/>
		<key>mutingMode</key>
		<string>none</string>
		<key>voip</key>
		<true/>
	</dict>
	<key>com.xnet.iSoftPhone</key>
	<dict>
		<key>captureInputs</key>
		<true/>
		<key>captureOutputs</key>
		<true/>
		<key>mutingMode</key>
		<string>none</string>
		<key>voip</key>
		<true/>
	</dict>
	<key>com.xten.SIPClient</key>
	<dict>
		<key>captureInputs</key>
		<true/>
		<key>captureOutputs</key>
		<true/>
		<key>mutingMode</key>
		<string>none</string>
		<key>voip</key>
		<true/>
	</dict>
	<key>com.yahoo.messenger3</key>
	<dict>
		<key>captureInputs</key>
		<true/>
		<key>captureOutputs</key>
		<true/>
		<key>mutingMode</key>
		<string>none</string>
		<key>voip</key>
		<true/>
	</dict>
	<key>com.zoiper.www</key>
	<dict>
		<key>captureInputs</key>
		<true/>
		<key>captureOutputs</key>
		<true/>
		<key>mutingMode</key>
		<string>none</string>
		<key>voip</key>
		<true/>
	</dict>
	<key>net.algoriddim.djay</key>
	<dict>
		<key>audioDevice</key>
		<string>djayMasterDevice</string>
	</dict>
</dict>
</plist>
